<md-input-container
  style="padding-bottom: -7px; margin: 0px 10px -7px 10px; position: relative;">
  <input mdInput type="number" placeholder="Пошук" [(ngModel)]="search"/>

</md-input-container>
<div style="height: calc(100vh - 70px); overflow-y: scroll">

  <md-list>
    <md-list-item *ngFor="let room of filtered()"
                  class="map-list-item"
                  [class.active]="room.id == active?.id"
                  (click)="onRoomSelected(room, false)">
      <h1 md-line><b>{{room.room}}</b></h1>
      <md-icon (click)="edit(room)">edit</md-icon>
    </md-list-item>
  </md-list>

</div>
