<div fxLayout="row" fxLayoutAlign="start start" >

  <div fxFlex="calc(100vh - 105px)">

    <md-tab-group id="floors" (selectChange)="onTabClick($event)" [selectedIndex]="selectedTab">
      <md-tab *ngFor="let map of maps" [label]="'Поверх ' + map.floor">
        <map-edit [map]="map"
                  (svgLoaded)="onSvgLoaded($event)"
                  (itemsLoaded)="onItemsLoaded($event)"
                  (roomSelected)="onSvgRoomSelected($event)">

        </map-edit>
      </md-tab>
    </md-tab-group>

  </div>

  <div fxFlex="105px">

    <map-items-list [rooms]="mapItems"
                    (activeChanged)="onListRoomSelected($event)"
                    (editClicked)="update($event)">
    </map-items-list>

  </div>

</div>

