<div class="container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item" fxFlex="240px">

    <md-card>
      <md-input-container>
        <input mdInput
               [(ngModel)]="model.username"
               placeholder="username"
               required
               autofocus/>
      </md-input-container>

      <md-input-container>
        <input mdInput
               [(ngModel)]="model.password"
               placeholder="password"
               type="password"
               required/>
      </md-input-container>

      <button md-raised-button color="primary"
              (click)="onSubmit()">Login
      </button>

    </md-card>

  </div>
</div>
