<div [formGroup]="form">
  <div [ngSwitch]="field.fieldType.typeKind">

    <md-input-container *ngSwitchCase="'PRIMITIVE'">
      <input mdInput
             [required]="field.required ? 'required' : null"
             [formControlName]="field.fieldName"
             [id]="field.fieldName"
             [type]="field.fieldType.primitiveEntityType"
             [placeholder]="field.label">

    </md-input-container>

    <div *ngSwitchCase="'ENTITY'">

      <md-select *ngIf="field.fieldKind != 'COLLECTION'"
        [placeholder]="field.label"
        [formControlName]="field.fieldName"
        [id]="field.fieldName">
        <md-option *ngFor="let entity of entities"
                   [value]="{id: entity.id}">
          {{entity.name }}
        </md-option>
      </md-select>

    </div>



  </div>
</div>
