<div [hidden]="isLogin">
  <md-toolbar color="primary">
        <span class="right">
          <button md-button
                  *ngFor="let route of ROUTES_NAV" [routerLink]="[route.path]">
            {{route.name}}
          </button>
        </span>
    <span [hidden]="!authService.loggedIn()">
          <button md-button (click)="authService.logout()">
            Logout
          </button>
        </span>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="'/faculties'">
      Faculties
    </button>
    <button md-menu-item [routerLink]="'/iosIcons'">
      ios icons
    </button>
    <!--<button md-menu-item [routerLink]="'/androidIcons'">-->
      <!--android icons-->
    <!--</button>-->
    <button md-menu-item [routerLink]="'/itemKinds'">
      Item kinds
    </button>
  </md-menu>


  </md-toolbar>

</div>

<main>
  <router-outlet></router-outlet>
</main>

<footer></footer>
