<div>


  <button md-icon-button [mdMenuTriggerFor]="menu" id="three-dots">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item
            *ngFor="let route of ROUTES_NAV" [routerLink]="[route.path]">
      {{route.name}}
    </button>
    <button md-menu-item [routerLink]="'/faculties'">
      Faculties
    </button>
    <button md-menu-item [routerLink]="'/iosIcons'">
      ios icons
    </button>
    <!--<button md-menu-item [routerLink]="'/androidIcons'">-->
      <!--android icons-->
    <!--</button>-->
    <button md-menu-item [routerLink]="'/itemKinds'">
      Item kinds
    </button>
  </md-menu>

</div>

<main>
  <router-outlet></router-outlet>
</main>

<footer></footer>
