<div [hidden]="isLogin">
  <md-toolbar color="primary">
    <span class="right">
          <button md-button
                  *ngFor="let route of ROUTES_NAV" [routerLink]="[route.path]">
            {{route.name}}
          </button>
        </span>
    <span [hidden]="!authService.loggedIn()">
          <button md-button (click)="authService.logout()">
            Logout
          </button>
        </span>
  </md-toolbar>
</div>
<section>
  <md-card>
    <h2>Welcome!</h2>
    <div>
      Go to city or maps tab to manage !!!
    </div>
  </md-card>
</section>
