<md-card>

    <a [routerLink]="'/city'" [queryParams]="{ i: cityItem.id }">
      <img *ngIf="iconsReady"
           [src]="itemIconService._getIconUrl(cityItem.kind)"
      />
    </a>

    <span (click)="openMaps(cityItem)" class="city-item-header-text">{{cityItem.name}}</span>

  <md-icon (click)='add()' class="add">playlist_add</md-icon>


  <div *ngFor="let map of maps; let i=index">

    Поверх {{map.floor}} <br/>
    <button md-raised-button color="primary"
            (click)='update(map)'>
      Update
    </button>
    <button md-raised-button color="warn"
            (click)='delete(map, i)'>
      Delete
    </button>

  </div>


</md-card>
