.add {
  cursor: pointer;
}

md-icon.add:hover {
  color: black;
}

md-icon.add {
  color: #bbb;
}

.city-item-header-text {
  font-size: 20px;
  cursor: pointer;
}

.city-item-header-text:hover {
  text-decoration: underline;
}
